<html>
  <head>
    <div id='title'>
         <img src="./assets/hr-logo.png"><h1>Hack Reactor Yearbook</h1>
    </div>
    <!-- Local CSS -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Font CDNs -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="app-container">
        <div id="info-window-container"></div>

        <div id="navbar-container"></div>
        <div id="page-content-container"></div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="studentEntryTemplate">
        <div class="student">
            <div class="student-element student-name"></div>
            <div class="student-element student-photo" style="background-image: url(<%= image %>)"></div>
        </div>
    </script>


    <script type="text/template" id="messageForm">
        <form name="messageForm" method="POST">
          <div align="center">
              Post to <%= name %>&#8217;s wall
              <input type="text" id="messageBox">
              <button type="button" id="sendButton">Submit</button>
          </div>
        </form>
    </script>

    <!-- Library CDNs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

    <!-- Utils -->
    <script src="js/utils/spinner.js"></script>
    <script src="js/utils/generateNickname.js"></script>

    <!-- Router -->
    <script src="js/router/AppRouter.js"></script>

    <!-- Models -->
    <script src="js/models/Student.js"></script>

    <!-- Collections -->
    <script src="js/collections/Students.js"></script>

    <!-- Views -->
    <script src="js/views/NavBarView.js"></script>
    <script src="js/views/InfoWindowView.js"></script>
    <script src="js/views/LandingView.js"></script>
    <script src="js/views/ProfileView.js"></script>
    <script src="js/views/StudentEntryView.js"></script>
    <script src="js/views/StudentsView.js"></script>
    <script src="js/views/AppView.js"></script>

    <!-- Entry -->
    <script src="js/app.js"></script>
  </body>
</html>