/* Add your CSS here! */

body {
  font-family: Roboto Slab;
  margin: 0;
  padding: 0;
}
#app-container {
  width: 100%;
  height: 100%;
}
#page-content-container {
  margin-top: 70px;
  width: 100%;
  height:100%;
}

#navbar-container {
  font-size: 20px;
  width: 100%;
  height: 70px;
  margin-top: 20px;
}

#info-window-container {
  background-color: #FFF;
  font-size: 28px;
  position: fixed;
  left: 550px;
  top: 50px;
  z-index: 100;
}

@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(359deg);
  }
}

.image:hover img {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
}

img {
  float: left;
  padding: 5px 5px 0px 5px;
  height: 35px;
  width: 35px;
  -webkit-animation: rotating 4s linear infinite;
}

.title {
  float: left;
}

.navbar-logo {
  width: 125px;
  height: 125px;
  float: left;
}



.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-brand-group {
  font-size: 28px;
  margin-left: 30px;
}

.navbar-link-group {
  margin-right: 30px;
}

.navbar-title {
 font-family: 'Roboto';
 padding-top: 10px;
 float:left;
}
.navbar-link {
  float: right;
}

.navbar-title a, .navbar-link a {
  display: block;
  color: black;
  text-align: center;
  margin: 0px 20px 0px 20px;
  text-decoration: none;
}

.navbar-title a {
  height: 100px;
}

.navbar-link {
  border-right: 1px solid #ccc;
}

.navbar-link:first-child {
  border-right: none;
}

.navbar-link a:hover {
  background-color: #FEFEFE;
  color: #6699ff;
  border-radius: 5px;
}

.landing-logo-group {
  margin-top: 150px;
  margin-left: 30%;
}

.hack-span {
  font-size: 36px;
  float: left;
  clear: both;
}

.yearbook-span {
  font-family: 'Pacifico';
  margin-left: 50px;
  margin-top: -10px;
  font-size: 36px;
  float: left;
  clear: both;
}

.date-span {
  font-size: 36px;
  margin-left: 100px;
  float: left;
  clear: both;
}

.student {
  margin-left: 10px;
  margin-top: 10px;
  position:relative;
  float: left;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0);
}

.student-photo {
  z-index: 10;
  width:400px;
  height:265px;
  border-radius: 10px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.student-name {
  z-index: 1;
  float: left;
  width:368px;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  /*margin-top: 180px;*/
  margin-top: 180px;
  display: none;
  color: #000;
  background-color: #99ccff;
}

.student-name.flipped {
  display: block;
}

.student-photo:hover {
  opacity: 0.5;
}

.student-photo.flipped {
  
  /*color: rgba(0, 0, 0, 1);*/
  text-align: center;
  vertical-align: bottom;
}

